* {
    padding: 0;
    margin: 0;
}

hr {
    margin-bottom: 40px;
}

#grid-table-img {
    height: 240px;
    margin: 0 auto;
    display: block;
}

.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}

.container-1 {
    display: grid;
    grid-template-columns: 100px 100px;
    background: #999;
}

.container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    background: #999;
}

.container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 150px 30px;
    background: #999;
}


.container-4 {
    display: grid;
    grid-template-columns: 1fr 100px 50px auto 20%;
    background: #999;
}

.container-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 15px;
    /*OR grid-gap: 15px 10%; (row first) */
    background: #999;
}

.container-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    background: #999;
}

.container-6 .item-5 {
    grid-column: 2 / 4;
}

.container-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    background: #999;
}

.container-7 .item-5 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.container-8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #999;
    grid-template-rows: 50px 50px;
}

.container-8 .item-3 {
    justify-self: center;
}

.container-8 .item-5 {
    align-self: center;
}

.container-9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #999;
    grid-template-rows: 50px 50px;
    justify-items: center;
}

.container-10 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #999;
    grid-template-rows: 50px 50px;
    align-items: end;
}

.container-11 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #999;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px 10px;

    grid-template-areas:
      "header1 header2 header3"
      "advert content content"
      "footer footer footer";


}

.container-11 .header1 {
    grid-area: header1;
}

.container-11 .header2 {
    grid-area: header2;
}

.container-11 .header3 {
    grid-area: header3;
}
.container-11 .footer {
    grid-area: footer;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
}

